:root{
  --white: #fff;
  --black: #212121;
  --primary: #ffc107;
  --secondary: #0097a7;
  --gris: #757575;
}

/* *HACK PARA REMS */
html{
  font-size: 62.5%;
}
body{
  font-size: 16px;
  font-family: 'Krub', sans-serif;
}
/* *1REM = 10PX */

.titulo{
  text-align: center; /* centrar texto */
  font-size: 3.8rem;
}

.titulo span{
  font-size: 2rem
}

.container{
  max-width: 120rem;
  margin: 0 auto;
}

.nav-bg{
  background-color: var(--secondary);
}

.main-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav a{
  width: 100%;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
  font-size: 2rem;
}

.main-nav a:hover{
  background-color: var(--primary);
  color: var(--black);
}

@media (min-width: 480px) {
  .main-nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav a{
    width: auto;
  }
 }

