:root{
  --white: #fff;
  --black: #212121;
  --primary: #ffc107;
  --secondary: #0097a7;
  --gris: #757575;
  --ligth-gris: #DFE9F3;
}

/* *HACK PARA REMS */
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: 'Krub', sans-serif;
  background-image: linear-gradient(to top, var(--ligth-gris) 0%, var(--white) 100%);
}
/* *1REM = 10PX */

/* *BOXSIZING */
*, *::before, *::after{
  box-sizing: inherit;
}

/* global headings */
h1{
  font-size: 3.8rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 1.8rem;
}
h1,h2,h3{
  text-align: center;
}

.titulo span{
  font-size: 2rem
}

.container{
  max-width: 102.4rem;
  margin: 0 auto;
}

.shadow{
  -webkit-box-shadow: -2px 7px 5px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: -2px 7px 5px 0px rgba(0,0,0,0.11);
  box-shadow: -2px 7px 5px 0px rgba(0,0,0,0.11);
  border-radius: .5rem;
  background-color: var(--white);
  padding: 3rem;
}

.nav-bg{
  background-color: var(--secondary);
}

.main-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav a{
  width: 100%;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
  font-size: 2rem;
}

.main-nav a:hover{
  background-color: var(--primary);
  color: var(--black);
}

@media (min-width: 480px) {
  .main-nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .main-nav a{
    width: auto;
  }
 }

 .hero{
   background-image: url(../img/hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 45.8rem;
   position: relative;
   margin-bottom: 3rem;
 }

 .hero-wrapper{
   position: absolute; /* el padre debe de ser relative */
   /* podemos usar top bottom, ... */
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);

  /* alinear horizontal y verticalmente */
  display: flex;
  flex-direction: column;
  align-items: center;/* centra horizontal para column */
  justify-content: center;/* centra vertical para column */
 }

 .hero-wrapper h2, .hero-wrapper p{
   color: var(--white);
 }

 .btn {
  background-color: var(--secondary);
  color: var(--white);
  padding: 1rem 3rem;
  margin-top: 1rem;
  border-radius: .5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 90%;
 }

 @media (min-width: 720px) {
  .btn{
    width: auto;
  }
 }
